@charset "UTF-8";
.slick-active {
  outline: none !important;
}

@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot?83766782");
  src: url("../fonts/fontello.eot?83766782#iefix") format("embedded-opentype"), url("../fonts/fontello.woff2?83766782") format("woff2"), url("../fonts/fontello.woff?83766782") format("woff"), url("../fonts/fontello.ttf?83766782") format("truetype"), url("../fonts/fontello.svg?83766782#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.svg?83766782#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-facebook:before {
  content: '\f09a';
}

/* '' */
.icon-menu:before {
  content: '\f0c9';
}

/* '' */
.icon-instagram:before {
  content: '\f16d';
}

/* '' */
.icon-vkontakte:before {
  content: '\f189';
}

/* '' */
html {
  font-size: 10px;
}

body {
  margin: 0;
  background-color: #eef3f5;
  color: #131313;
  font-family: "Roboto", sans-serif;
  padding-top: 40px;
  font-size: 14px;
}

a {
  color: #009adf;
}

h2 {
  font-size: 24px;
}

.btn {
  padding: 20px 30px;
  display: inline-block;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
}
.btn-primary {
  background-color: #009adf;
  border-bottom: 5px solid #0077ac;
}
.btn-primary:hover {
  background-color: #00a1e9;
}

.top-nav {
  background-color: #fff;
  padding: 15px;
  position: relative;
}
.top-nav img {
  width: 124px;
  height: 60px;
}
.top-nav_btn {
  display: none;
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  font-size: 18px;
  position: absolute;
  right: 15px;
  top: -50px;
}
.top-nav_btn:hover {
  cursor: pointer;
}
.top-nav_menu {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.top-nav_menu li {
  margin-right: 45px;
}
.top-nav_menu li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #131313;
  font-weight: 700;
}
.top-nav_menu li a::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #009adf;
  -webkit-transform: translateY(38px) scale(0);
          transform: translateY(38px) scale(0);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.top-nav_menu li a:hover::after {
  -webkit-transform: translateY(38px) scale(1);
          transform: translateY(38px) scale(1);
}

.left-sidebar {
  margin-top: 4rem;
}
.left-sidebar_btn {
  display: none;
  background-color: #fff;
  padding: 15px;
  position: relative;
}
.left-sidebar_btn:hover {
  cursor: pointer;
}
.left-sidebar_btn::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  right: 20px;
  width: 15px;
  height: 15px;
  border-bottom: 2px solid #131313;
  border-right: 2px solid #131313;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.left-sidebar_menu {
  background-color: #fff;
  list-style: none;
  padding: 0;
}
.left-sidebar_menu li {
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
.left-sidebar_menu li:first-child a {
  padding-top: 20px;
}
.left-sidebar_menu li:last-child a {
  padding-bottom: 20px;
}
.left-sidebar_menu li:hover {
  background-color: #009adf;
}
.left-sidebar_menu li:hover a {
  color: #fff;
}
.left-sidebar_menu li a {
  display: block;
  padding: 15px 29px;
  text-decoration: none;
  color: #131313;
  font-size: 16px;
  font-weight: 400;
}
.left-sidebar_object {
  margin-top: 30px;
  background-color: #fff;
}
.left-sidebar_object img {
  width: 350px;
  height: 200px;
}
.left-sidebar_object-description {
  padding: 30px;
}
.left-sidebar_object-description h3 {
  text-transform: uppercase;
  font-weight: 400;
}

.content {
  margin-top: 40px;
}

.directions {
  margin-top: 80px;
}
.directions-block {
  background-color: #fff;
  height: 220px;
  text-align: center;
  margin: 0 15px;
  padding: 10px;
  background-position: bottom center;
  background-repeat: no-repeat;
}
.directions-block h3 {
  color: #009adf;
}

.footer {
  margin-top: 60px;
  background-color: #131313;
  padding: 59px 0;
  color: #666666;
}
.footer-polys-link {
  font-size: 14px;
}
.footer p {
  margin-bottom: 14px;
}
.footer a {
  color: #666666;
  text-decoration: none;
}
.footer a:hover {
  color: #fff;
}
.footer small {
  display: block;
  margin-top: 56px;
  line-height: 16px;
  font-size: 10px;
  max-width: 80%;
}
.footer ul {
  padding: 0;
  list-style: none;
}
.footer ul li {
  line-height: 32px;
}
.footer-contacts, .footer-social-links {
  text-align: right;
}
.footer-contacts_phone {
  font-size: 20px;
  font-weight: 700;
  color: #009adf;
}
.footer-social-links li {
  display: inline-block;
}
.footer-social-links li a {
  display: inline-block;
  width: 42px;
  height: 42px;
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
  border-radius: 50%;
  line-height: 42px;
  margin-left: 10px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.footer-social-links li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #131313;
}

@media (max-width: 767px) {
  html {
    font-size: 5px;
  }

  .top-nav_btn {
    display: block;
    outline: none !important;
  }
  .top-nav_menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: none;
  }
  .top-nav_menu__active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0;
  }
  .top-nav_menu li {
    line-height: 2;
  }
  .top-nav_menu li a::after {
    display: none;
  }

  .left-sidebar_object {
    display: none;
  }
  .left-sidebar_btn {
    display: block;
  }
  .left-sidebar_menu {
    display: none;
  }
  .left-sidebar_menu__active {
    display: block;
  }

  .copy {
    text-align: center;
  }
  .copy small {
    display: block;
    margin: 36px auto;
  }

  .footer-contacts, .footer-social-links {
    text-align: left;
  }
}
@media (min-width: 767px) and (max-width: 991px) {
  html {
    font-size: 5px;
  }

  .top-nav_btn {
    display: block;
    outline: none !important;
  }
  .top-nav_menu {
    display: none;
  }
  .top-nav_menu__active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .top-nav_menu li {
    line-height: 2;
    margin-right: 0;
  }
  .top-nav_menu li a::after {
    display: none;
  }

  .left-sidebar_btn {
    display: block;
  }
  .left-sidebar_menu {
    display: none;
  }
  .left-sidebar_menu__active {
    display: block;
  }

  .footer-contacts, .footer-social-links {
    text-align: left;
  }
}
