html {
	overflow: auto;
}
/*================================================*/
html, body {
	height: 100%;
	margin: 0px;
}
body {
	display: flex;
	flex-direction: column;
	background: url(../images/fon.jpg) top center;
	padding-right:0px !important;
}
.block-elephants-logo {
	background-color: #b287ce;
}
.my-clas {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.pad1 {
	margin-top: 25px; 
}
.pad2 {
	margin-top: 2px;
}
.logo-alephants img {
	width: 150px;
	height: 130px;
}
.pad2 button {
	transition: all 0.225s;
	outline: none;
	background-color: #9370DB;
	border: none;
	border-radius: 20px;
	padding-left: 70px;
	padding-right: 70px;
	text-transform: uppercase;
	font-size: 50px;
	border-bottom: 8px solid #4B0082;
}
.pad2 button:hover {
	outline: none;
	background-color: #9932CC;
	border-bottom: 3px solid #4B0082;
	margin-top: 5px;
}
.pad2 button:active {
	border-color: #00FFFF;
	color: #00FFFF;
}
.pad1 {
	flex-grow: 1;
}
.footer-my {
	color: #00FFFF;
	text-transform: uppercase;
}
.footer-my img {
	width: 50px;
}
.footer-my p {
	padding-top: 15px;
}
.my-form-1 button {
	outline: none;
	background-color: #9370D8;
	border: none;
	border-radius: 10px;
	padding-right: 25px;
	padding-left: 25px;
	font-size: 20px;
	border-bottom: 5px solid #4B0082;
}
.my-form-1 button:hover {
	outline: none;
	background-color: #9932CC;
	border-bottom: 2px solid #4B0082;
	margin-top: 3px;
}
.my-form-1 button:active {
	border-color: #00FFFF;
	color: #00FFFF;
}
h1, h3 {
	color: #00FFFF;
}
.my-h-class {
	margin:75px;
	text-align: center;
}
li, h3 {
	color: #00FFFF;
	margin: 10px;
}
.btn-result {
	outline: none;
	background-color: #9370D8;
	border: none;
	border-radius: 10px;
	padding-right: 25px;
	padding-left: 25px;
	font-size: 20px;
	border-bottom: 5px solid #4B0082;
	margin-right: 50px;
}
.btn-result:hover {
	outline: none;
	background-color: #9932CC;
	border-bottom: 2px solid #4B0082;
	margin-top: 3px;
}
.btn-result:active {
	border-color: #00FFFF;
	color: #00FFFF;
	outline: none;
}
.form-test h3 {
	color: #00FFFF;
}
div#test {
	background-color: rgba(255, 255, 224, 0.2);
	border: 7px solid #4B0082;
	border-radius: 50px; 
	box-shadow: 3px/*сдиг по оси х*/ 3px/*по оси у*/ 10px/*параметр размытия тени*/ #00BFFF/*colour*/;
	height: 600px;
	width: 1140px;

}
.shapka h1 {
	padding-left: 25px;
}
/*===== mobile ======================================================*/
/*===== mobile ======================================================*/
/*===== mobile ======================================================*/
/*===== mobile ======================================================*/
/*===== mobile ======================================================*/
@media screen and (min-width: 0px) and (max-width: 320px) {
	.pad1 {
		margin-top: 7px;
	}
	.pad2{
		margin-top: -20px;
	}
	.my-h-class h1 {
			font-size: 18px;
			margin-left:-80px;
			margin-right: -80px;
			margin-top: -50px;
	}

	.pad2 button {
		background-color: #9370DB;
		border: none;
		border-radius: 10px;
		padding-left: 40px;
		padding-right: 40px;
		padding-top: 16px;
		padding-bottom: 16px;
		text-transform: uppercase;
		font-size: 20px;
		border-bottom: 5px solid #4B0082;
	}
	.pad2 button:hover {
		background-color: #9932CC;
		border-bottom: 2px solid #4B0082;
		margin-top: 3px;
	}
	.pad2 button:active {
		border-color: #00FFFF;
		color: #00FFFF;
	}
	.footer-my img {
		width: 40px;
	}	
}
@media screen and (min-width: 321px) and (max-width: 480px) {
	.pad1 {
		margin-top: 7px;
	}
	.my-h-class h1 {
			font-size: 18px;
			margin-left:-80px;
			margin-right: -80px;
			margin-top: -50px;
	}
	.pad2 {
		margin-top: -50px;
	}
	.pad2 button {
		background-color: #9370DB;
		border: none;
		border-radius: 10px;
		padding-left: 40px;
		padding-right: 40px;
		padding-top: 16px;
		padding-bottom: 16px;
		text-transform: uppercase;
		font-size: 20px;
		border-bottom: 5px solid #4B0082;
	}
	.pad2 button:hover {
		background-color: #9932CC;
		border-bottom: 2px solid #4B0082;
		margin-top: 3px;
	}
	.pad2 button:active {
		border-color: #00FFFF;
		color: #00FFFF;
	}
	.footer-my img {
		width: 40px;
	}
}
@media screen and (min-width: 481px) and (max-width: 575px) {
	.pad1 {
		margin-top: 7px;
	}
	.my-h-class h1 {
			font-size: 25px;
			margin-left: -45px;
			margin-right: -45px;
			margin-top: -50px;
	}
	.pad2 {
		margin-top: -50px;
	}
	.pad2 button {
		background-color: #9370DB;
		border: none;
		border-radius: 10px;
		padding-left: 40px;
		padding-right: 40px;
		padding-top: 16px;
		padding-bottom: 16px;
		text-transform: uppercase;
		font-size: 20px;
		border-bottom: 5px solid #4B0082;
	}
	.pad2 button:hover {
		background-color: #9932CC;
		border-bottom: 2px solid #4B0082;
		margin-top: 3px;
	}
	.pad2 button:active {
		border-color: #00FFFF;
		color: #00FFFF;
	}
	.footer-my img {
		width: 40px;
	}
}
@media(min-width: 576px) and (max-width: 768px) {
	.pad1 {
		margin-top: 7px;
	}
	.my-h-class h1 {
			font-size: 25px;
			margin-left:-100px;
			margin-right: -100px;
			margin-top: -50px;
	}
	.pad2 {
		margin-top: -40px;
	}
	.pad2 button {
		background-color: #9370DB;
		border: none;
		border-radius: 10px;
		padding-left: 50px;
		padding-right: 50px;
		padding-top: 15px;
		padding-bottom: 15px;
		text-transform: uppercase;
		font-size: 30px;
		border-bottom: 5px solid #4B0082;
	}
	.pad2 button:hover {
		background-color: #9932CC;
		border-bottom: 2px solid #4B0082;
		margin-top: 3px;
	}
	.pad2 button:active {
		border-color: #00FFFF;
		color: #00FFFF;
	}
	.footer-my img {
		width: 40px;
	}
}
@media(min-width: 769px) and (max-width: 992px) {
	.pad1 {
		margin-top: 7px;
	}
	.my-h-class h1 {
			font-size: 25px;
			margin-left:-100px;
			margin-right: -100px;
			margin-top: -50px;
	}
	.pad2 {
		margin-top: -40px;
	}
	.pad2 button {
		background-color: #9370DB;
		border: none;
		border-radius: 10px;
		padding-left: 50px;
		padding-right: 50px;
		padding-top: 15px;
		padding-bottom: 15px;
		text-transform: uppercase;
		font-size: 30px;
		border-bottom: 5px solid #4B0082;
	}
	.pad2 button:hover {
		background-color: #9932CC;
		border-bottom: 2px solid #4B0082;
		margin-top: 3px;
	}
	.pad2 button:active {
		border-color: #00FFFF;
		color: #00FFFF;
	}
	.footer-my img {
		width: 40px;
	}
}
@media(min-width: 993px) and (max-width: 1200px) {
	.pad1 {
		margin-top: 7px;
	}
	.my-h-class h1 {
			font-size: 25px;
			margin-left:-100px;
			margin-right: -100px;
	}
	.pad2 {
		margin-top: -20px;
	}
	.pad2 button {
		outline: none;
		background-color: #9370DB;
		border: none;
		border-radius: 20px;
		padding-left: 70px;
		padding-right: 70px;
		text-transform: uppercase;
		font-size: 40px;
		border-bottom: 8px solid #4B0082;
	}
	.pad2 button:hover {
		outline: none;
		background-color: #9932CC;
		border-bottom: 3px solid #4B0082;
		margin-top: 5px;
	}
	.pad2 button:active {
		border-color: #00FFFF;
		color: #00FFFF;
	}
	.footer-my img {
		width: 45px;
	}
}



